@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Poppins:wght@100;200;300;400&display=swap');
@import url("fontawesome-all.min.css");

:root{    
    --iden:yellow;
    --iden2:red;
    --iden3:blue;
    --background-black:#000;
    --background-white: rgb(220 243 239);
    --primary:rgb(255 255 255 /.1);
    --secondary:rgb(0 0 0 /.3);
    /*--tertiary:rgb(4 212 4 /.3);*/
    --tertiary:#00C2CB;
    --four:rgb(4 212 4);
    --five: rgb(0 0 0 /.7);
    --six:rgb(4 212 4 /.6);
    --seven: #0E4BEF;
    --eight:rgba(14 75 239 /.8);
    --gradient-45: linear-gradient(45deg, rgb(4 212 4), #0E4BEF);
    --black-text:rgb(61, 61, 61);
    --white-text:#fff;
  }

/*Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    list-style: none;
    text-decoration: none;
}

/*Boton*/
.button a{
  text-decoration: none;
  color:var(--black-text);
}
.button {
  display: inline-block;
  border-radius: 8px;
  background-color: var(--tertiary);
  border: none;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  width: 190px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem auto; 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.ener-reno{
  width: 250px;
  background-color: var(--primary);
}


body{
  background: var(--background-black);
  min-height: 100vh;
}

/* Main */
.main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--background-white);
}

.main h2{
  font-size: 30px;
  color:var(--tertiary)
}

.main h3{
  font-size: 25px;
  color:var(--four)
}


/*Footer*/
footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--gradient-45);
}

.divi{
  font-size: 20px;
}

section{
  width: 85%;
  margin: 2rem auto;
  text-align: justify;
}

section h2,
section h3{
  text-align: center;
  margin: 1.5rem;
}


/* ScrollBar */
body::-webkit-scrollbar{
    width: 7px;
    background: var(--background-white);
}
body::-webkit-scrollbar-thumb{
    background-color: #ABD1C6;
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #918c77;
}

/*Elemetos*/
  ul li{
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
  }
  
  .icon-img{
    margin-top: 2rem;
    width: 40px;
    height: 40px;
  }
  
  .icon-img-conte{
    text-align: center;
  }
  
/* Navbar */
    /*-> Logo*/
      .drawer{
        font-size: 1rem;
        color: var(--white-text);
        float: left;
        cursor: pointer;
        display: none;
        margin: auto 1rem;
      }
  
      #ckbox{
        display: none;
      }
      
      nav .logo{
        position: relative;
        height: 100px;
        width: 175px;
        animation: blanco 2s forwards;
      }
  
      @keyframes blanco{
        form{
            filter: none;
        }
        to{
            filter:contrast(0) brightness(10);
        }
      }
  
      /* Sticky */
  
      header.sticky .drawer{
        color:var(--black-text);
      }
    
      header.sticky nav{
        margin: 0;
        padding: 0px 20px; /*Cambios 1*/
        background-color: var(--background-white);
      }
    
      header.sticky .logo{
          position: relative;
          height: 80px;
          width: 155px;
          animation: colores 2s forwards;
      }
  
      @keyframes colores{
        form{
            filter:contrast(0) brightness(10);
        }
        to{
            filter:none; /*Cambio 2*/
        }
    }
 
nav{
/*height: 10vh;*/
position:fixed;
z-index: 1;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
transition: 0.6s;
padding: 40px 20px; /*Cambios 1*/

}

.drop-down-menu .drop-down-button {
font-size: 1.2rem;
outline: none;
color: var(--white-text);
padding: 1rem 1rem;
background-color: inherit;
}

nav ul div button a{
text-decoration: none;
color: var(--white-text);
}

.drop-down-menu-content{
display: none;
position: absolute;
background-color: var(--five);
min-width: 10rem;
box-shadow: 0 .8rem 1rem rgba(0,0,0.2);
z-index: 1;
}


.drop-down-menu:hover{
background-color: var(--primary);
color: var(--white-text);
}

.drop-down-menu-content a{
float: none;
color: var(--white-text);
padding: 1rem 1rem;
display: block;
}

.drop-down-menu-content a:hover{
background-color: var(--primary);
color: var(--white-text);
}

    /*Sticky*/
    header.sticky .drop-down-menu-content{
        background-color: var(--background-white);
        }

    header.sticky .drop-down-menu .drop-down-button,
    header.sticky .drop-down-menu .drop-down-button a{
        color: var(--black-text);
    }

    header.sticky .drop-down-menu:hover{
    background-color: var(--tertiary);
    color: var(--black-text);
    }
    
    header.sticky .drop-down-menu-content a{
    color: var(--black-text);
    }
    
    header.sticky .drop-down-menu-content a:hover{
    background-color: var(--tertiary);
    color: var(--black-text);
    }

.drop-down-menu:hover .drop-down-menu-content{
display: block;
}

nav ul{
display: flex;
}
  
  
  /* Banner */
  .banner-conte-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .banner::before{
    position:absolute;
    content:"";
    inset: 0;
    background:url(/images/bkgfull/ecopoint.mx\ \ Propuesta\ George.png);
    background-size: cover;
    filter:blur(5px) brightness(70%) saturate(90%);
  }
  
  .banner-text{
    color: var(--white-text);
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 2rem;
  }

  .banner-text h1,
  .banner-text h2{
    padding: 1rem;
  }

  .banner-text-i{
    text-align: right;
    border-right: 4px solid rgba(255 255 255 /.5);
  }
  .cotiza-servicio{
    background-color: var(--four);
  }
  .cotiza-servicio:hover{
    background-color: var(--tertiary);
  }
  
/*Servicios*/
#servicios p{
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

.d{
  flex-direction: row-reverse;
}

.servi{
  display: flex;
  margin: 3rem;
  padding: 10px;/*
  border: 2px solid ;
  border-radius: 50px;*/
 /* box-shadow: 0 .8rem 1rem rgba(0,0,0.2);*/
}

.servi-info{
  margin: 0 3rem;
}
.servi-info h3{
  text-align: left;
  padding: 0;
  margin: 0;
}

  .img-servi{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 .8rem 2rem rgba(0 0 0 /.7);
  }

  

  /*Filosofia*/
  .nosotros-text{
    line-height: 45px;
    margin-bottom: 3rem;
  }

  .main p,
  .main ul{
    font-size: 20px;
  }

  .MVV{
    display: flex;
    margin-top: 1rem;
    border-top: 3px solid var(--tertiary);
  }

  .MVV-conte{
    width: 37%;
    margin:0 1rem;
    line-height:40px;
  }
  .MVV-conte-li{
    margin:0 1rem;
    line-height:40px;
  }
  .section-conte h3{
    margin-top: .5rem;
  }

/*Beneficios*/

#beneficios{
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.beneficios-ecopoint{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beneficios-ecopoint img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 1.5rem;
}

#beneficios p{
  font-size: 15px;
  text-align: justify;
}

.puntos-beneficios{
  margin: 1rem;
  height: 45%;
  text-align: center;
}
.puntos-beneficios i{
  font-size: 50px;
  color: var(--seven);
}

  /*Footer*/
#contacto h2{
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: var(--white-text);
  font-size: 40px;
}
.img-footer{
  margin: 2rem 0;
  padding: 0;
  width: 620px;
  height: 374px;
}

.footer-form{
  display: flex;
  align-items:center;
}

.footer-form-email-social{
  margin: 0 auto;
  width: 33%;
}
  .info-ecopoint{
    width: 17%;
    color: var(--white-text);
  }

  .info-ecopoint p{
    text-align: left;
    margin: 3rem 0;
  }

.formulario{
  background: var(--primary);
  padding: 1rem;
  border-radius: 1rem;
 /* box-shadow: 8px 10px 25px var(--background-black);*/
}
.inputs-email{
  width: 90%;
  margin: 0 auto;
}

.inputs-email div input,
.inputs-email div textarea,
.btnsend{
  width: 100%;
  margin: 1rem 0rem;
  padding: 7px;
  border-radius:10px;
}

.btnsend:hover{
  color: var(--white-text);
  background-color: var(--five);
}

.social-links-ecopoint{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.social-links-ecopoint a{
  font-size: 20px;
  color: var(--white-text);
  transition: 0.5s;
}
.social-links-ecopoint a:hover{
  color: var(--black-text);
}

.copyrights{
  font-size: 12px;
}

/*media query*/
  
  @media (max-width:1039px) {

    /*Navbar*/
    nav{
        justify-content: flex-start;
    }
  
    .drawer{
      display: inline;
    }
  
    .drop-down-menu-content{
        width: 100%;
    }
  
    .menu-box{
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        background: var(--five);
    }

    header.sticky ul{
        background: var(--background-white);
    }

    .drop-down-menu .drop-down-button,
    nav ul div button a {
        color: var(--white-text);
        }
        
        .drop-down-menu-content{
            background: var(--background-white);
        }
        
        .drop-down-menu:hover{
        background-color: var(--six);
        color: var(--black-text);
        }
        
        .drop-down-menu-content a{
        color: var(--black-text);
        }
        
        .drop-down-menu-content a:hover{
        background-color: var(--tertiary);
        color: var(--black-text);
        }

        header.sticky .drop-down-menu:hover{
            background-color: var(--four);
            color: var(--black-text);
            }
  
    #ckbox:checked ~ .menu-box{
        left: 0;
        margin-top: 2.5rem;
    }

    header.sticky #ckbox:checked ~ .menu-box{
        margin-top: 0rem;
    }
  
    .banner-conte-text{
      flex-direction: column;
    }
    
    .banner-text{
      flex-direction: column;
      text-align: center;
    }

    .banner-text-i{
      text-align: center;
      border-bottom: 4px solid rgba(255 255 255 /.5);
      border-right: 0;
    }
    .ener-reno a{
      color: var(--white-text);
    }
/*Servicios*/

.servi{
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  width: 85%;
}

.servi-info{
  margin:20px 0;
  width: 100%;
}
.servi-info h3{
  text-align: center;
}

.servi-info .button{
  width: 100%;
}

/*Filosofia*/
    .MVV{
      flex-direction: column;
    }

    .MVV-conte{
      width: 100%;
      margin: 0;
    }
    .MVV-conte-li{
      width: 100%;
      margin: 0;
    }

    #beneficios{
      flex-direction: column;
      height: 200vh;
      width: 85%;
    }
    .Garantia-Asesoria{
      order: 2;
    }
    .Monitoreo-Ahorro{
      order: 3;
    }
    .beneficios-ecopoint img{
      order: 0;
      width: 250px;
      height: 250px;
      margin: 1rem auto;
    }

    /*footer*/
    .footer-form{
      flex-direction: column;
    }
    .img-footer{
      display: none;
    }
    .footer-form-email-social{
      width: 85%;
    }
    #contacto h2{
      margin-top: 4rem;
    }
    .copyrights{
      margin-top: 3rem;
      margin-bottom: 0rem;
    }

    .info-ecopoint{
      width: 90%;
      margin: 10px;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .info-ecopoint p{
      margin: 10px;
    }

      
  }