:root{    
  --primary:#e60012;
  --secundary:rgb(255 255 255 /.2);
  --background:#35495e;
  --black-text:rgb(61, 61, 61);
  --white-text:#fff;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  min-height: 100vh;
}


/* Navbar */
  /*-> Logo*/
    .drawer{
      font-size: 1rem;
      color: var(--white-text);
      float: left;
      cursor: pointer;
      display: none;
      margin: auto 1rem;
    }

    #ckbox{
      display: none;
    }
    nav .logo{
      position: relative;
      height: 100px;
      width: 175px;
      animation: blanco 2s forwards;
    }

    @keyframes blanco{
      form{
          filter: none;
      }
      to{
          filter:contrast(0) brightness(10);
      }
    }

    /* Sticky */

    header.sticky .drawer{
      color:var(--black-text);
    }
  
    header.sticky nav{
      margin: 0;
      padding: 0px 20px; /*Cambios 1*/
      background-color: rgb(220, 243, 239);
    }

    header.sticky .drop-down-menu .drop-down-button,
    header.sticky .drop-down-menu .drop-down-button a{
        color: var(--black-text);
    }

    header.sticky .logo{
        position: relative;
        height: 80px;
        width: 155px;
        animation: colores 4s forwards;
    }

    @keyframes colores{
      form{
          filter:contrast(0) brightness(10);
      }
      to{
          filter:none; /*Cambio 2*/
      }
  }



 /*Logo <-*/   

nav{
  /*height: 10vh;*/
  position:fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
  padding: 40px 20px; /*Cambios 1*/

}

.drop-down-menu .drop-down-button {
  font-size: 1.2rem;
  outline: none;
  color: var(--white-text);
  padding: 1rem 1rem;
  background-color: inherit;
}

nav ul div button a{
  text-decoration: none;
  color: var(--white-text);
}

.drop-down-menu-content{
  display: none;
  position: absolute;
  background-color: var(--white-text);
  min-width: 10rem;
  box-shadow: 0 .8rem 1rem 0 rgba(0,0,00.2);
  z-index: 1;
}

.drop-down-menu:hover{
  background-color: var(--secundary);
  color: var(--white-text);
}

.drop-down-menu-content a{
  float: none;
  color: var(--black-text);
  padding: 1rem 1rem;
  display: block;
}

.drop-down-menu-content a:hover{
  background-color: var(--background);
  color: var(--white-text);
}

.drop-down-menu:hover .drop-down-menu-content{
  display: block;
}

nav ul{
  display: flex;
}


/* Banner */
.banner-conte-text{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.banner::before{
  position:absolute;
  content:"";
  inset: 0;
  background:url(/images/bkgfull/ecopoint.mx\ \ Propuesta\ George.png);
  background-size: cover;
  filter:blur(5px) brightness(70%) saturate(90%);
}

.banner-text{
  position:relative;
  color:#fff;
  font-size: 25px;
  padding: 2rem;
}

.text-i{
  text-align: right;
  border-right: 4px solid rgba(255 255 255 /.5);
  border-bottom: 0;
}   

.text-d{
  text-align: left;
}

/* Main */
.main{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(220, 243, 239)
}

/*media query*/

@media (max-width:1039px) {
  nav{
      justify-content: flex-start;
  }

  .drawer{
    display: inline;
  }

  .drop-down-menu-content{
      width: 100%;
  }

  ul{
      position: fixed;
      width: 30%;
      height: 100vh;
      top: 10vh;
      left: -100%;
      text-align: left;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      align-content: stretch;
  }

  #ckbox:checked ~ .menu-box{
      left: 0;
      margin-top: 2rem;
  }

  .banner-conte-text{
    flex-direction: column;
  }

  .text-i{
    text-align: center;
    border-bottom: 4px solid rgba(255 255 255 /.5);
    border-right: 0;
  }

  .text-d{
      text-align: center;
  }
}